body{
	margin: 0;
}

#menu {
	background-color: black;
    height: 60px;
    display: flex;
    position: relative;
}

#id{
	color: red;
    display: flex;
    margin: 20px;
    position: absolute;
    right: 0;
}

#id button, span{
	margin: 0 5px;
}

#menu ul {
	padding: 0;
	overflow: hidden;
	list-style: none;
}

#menu ul li {
	float: left;
	padding: 10px 30px;
}

a {
	text-decoration: none;
	color: white;
}